body{
  background-color: rgb(69, 118, 172);
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#form1{
  border: 1px solid black;
  height: 800px;
  width: 900px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(69, 118, 172);
}

p{
   font-family: Times, "Times New Roman", Georgia, serif;
   color: white;
   position: relative;
   font-size: 17px;
}

#border1{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  position: relative;
  height: 200px;
}

#border2{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  height: 900px;
}

#border3{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 100px;
}

#image1{
 border: 1px solid black;
 float: right;
 margin-right: 30px;
 margin-top: 25px;
 position: relative;
}

#image1,.text1 {border-radius: 8px;}

.text1{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 float: left;
 position: relative;
 margin-left: 525px;
 margin-top: 75px;
 padding: 10px;
 background-color: rgb(69, 118, 172);
 border: 1px solid black;
}

.text2{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 background-color: rgb(69, 118, 172);
 border: 1px solid black;
 height: 35px;
 width: 150px;
 padding: 10px;
}

.text3{
 font-family: Times, "Times New Roman", Georgia, serif;
}

.text4{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 background-color: rgb(69, 118, 172);
 border: 1px solid black;
 margin-top: 35px;
 margin-left: 50px;
 padding-left: 5px;
 width: 75px;
 float: left;
 position: relative;
}

.button1{
  color: white;
  font-size: 20px;
  font-family: Times, "Times New Roman", Georgia, serif;
  box-shadow: 0 9px #999;
  margin-left: 30px;
  margin-top: 75px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  background-color: rgb(69, 118, 172);
  position: relative;
}

.button1 {border-radius: 8px;}

.button1:hover {
    background-color: rgb(99, 148, 202);
}

.button1:active {                         /*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
  background-color: rgb(99, 148, 202);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#room2,#eMail,#amoGuest,#startYear,#endYear{
  margin-bottom: 25px;
}

.button2{
  color: white;
  font-size: 20px;
  font-family: Times, "Times New Roman", Georgia, serif;
  box-shadow: 0 9px #999;
  margin-left: 1200px;
  margin-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  background-color: rgb(69, 118, 172);
  position: relative;
}

.button2 {border-radius: 8px;}

.button2:hover {
    background-color: rgb(99, 148, 202);
}

.button2:active {
  background-color: rgb(99, 148, 202);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.fa {                     /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons*/
  padding: 10px;
  font-size: 30px;
  margin-left: 25px;
  margin-top: 30px;
  float: left;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.fa {border-radius: 8px;}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}                        /*STOP*/
